<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <title>Check the superhero suit</title>
    <style>
        * {
            font-family: 'Quicksand', sans-serif;
        }

        body {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* manage obj. in div to center */
        #content {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="content">
        <h1>Check durability of suit</h1>
        <form action="/check" method="post">
            <label for="suit_id">Enter the suit id (6 digits):</label>
            <input type="text" id="suit_id" name="suit_id" required>
            <button type="submit">Check</button>
        </form>
    </div>

</body>

</html>